#*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
##	#parse("/WEB-INF/vm/common/head.vm")
	<body>
*##*	#parse("/common/globalShortcut.html")
	#parse("/common/globalHeader.html")*##*
	*#
	$screen_content
	
#*	#parse("/common/globalService.html")
	#parse("/common/globalFooter.html")*#
	
#*
	﻿<script type="text/javascript" src="http://wl.jd.com/wl.js"></script>
    <script type="text/javascript" src="http://misc.360buyimg.com/lib/js/2012/lib-v1.js" charset="gb2312"></script>
    <script type="text/javascript" src="http://www.jd.com/hotwords.aspx?position=A-INDEX-036" charset="gb2312"></script>
    <script type="text/javascript" src="http://misc.360buyimg.com/myjd/js/2014/lib/require.js" data-main="http://misc.360buyimg.com/myjd/js/2014/page/menu"></script>
	</body>
</html>*#
