<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>动效算法,排序</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/bootstrap/dashboard.css" >
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-reboot.min.css" >
    <script src="/js/d3/d3.min.js"></script>
    <script src="/js/sxyl.js"></script>
    <style>
        .sidebar-sticky a:hover{
            background: #C0C0C0;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">动效算法-排序</a>
    <input id="array-content" class="form-control form-control-dark w-40" type="text" placeholder="自定义排序数组,逗号分隔。为空时使用随机数" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a id="enterInit" class="nav-link" href="javascript:void(0)" >确认</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column" id="menu-list">
                    <li class="nav-item">
                        <a class="nav-link active" type="1" style="cursor: pointer;">
                            冒泡排序
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="2" style="cursor: pointer">
                            鸡尾酒排序
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="2" style="cursor: pointer">
                            xxxx排序(稍后)
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

##            执行面板的文件引入
            #parse("screen/execute-panel.vm")

            <div id="algorithm-content" class="row">
                <div id="graph-content" class="col-lg-9 col-sm-9 ">
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div><p><b>执行步骤</b></p></div>
                    <div id="step-content">
                    </div>

                    <div><p><b>伪代码</b></p></div>
                    <div id="pseudo-code">
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
##<script src="/js/vendor/jquery-slim.min.js" ></script>
<script src="/js/jquery/jquery-3.2.1.min.js" ></script>
<!-- Popper.JS -->
<script src="/js/vendor/popper.min.js" ></script>
<!-- Bootstrap JS -->
<script src="/js/bootstrap/bootstrap.min.js" ></script>

<script src="/js/sxyl.graph.js"></script>
<!-- Icons -->
<script src="/js/sort/sort-common.js"></script>

##具体的排序算法
<script src="/js/sort/s.js"></script>
##面板的js,具体页面的js事件等
<script src="/js/sort/d.js"></script>

</html>