<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>京东$!{categoryName}回收|以旧换新</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="京东以旧换新，$!{categoryName}回收，京东$!{categoryName}回收，京东回收，二手苹果,二手三星,二手$!{categoryName}回收"/>
    <meta name="description" content="京东$!{categoryName}回收服务支持用户以旧换新，帮用户解决闲置或废旧电子产品$!{categoryName}"/>
    <script type="text/javascript" src="http://misc.360buyimg.com/lib/js/e/jquery-1.2.6.pack.js"></script>
    <script type="text/javascript">
        window.pageConfig={
            //compatible:false,
            navId:"home"
        };
        jQuery(document).ready(function() {
            jQuery('body iframe').load(function(){
                jQuery(window).scrollTop(0);
            });
        });
    </script>
</head>